.calendar-block #calendar.loading-indicator {
	background-color: rgba(0, 0, 0, 0.3);
	opacity:          0.3;
}

.calendar-block .calendar-modal {
	display: none;
}

.calendar-view-modal .event-row {
	padding: 0.5em 0;
}